body {
	font-family: sans-serif;
}

.box {
	float: left;
	width: 49%;
	margin: 0 2px 0 0;
	padding: 2px;
	min-height: 500px;
	border: 1px solid #999;
	font-family: monospace;
	box-sizing: border-box;
}

.showCss .box {
	width: 32%;
}

.css {
	display: none;
}

.showCss .css {
	display: block;
}

.saved {
	padding-top: 1em;
	clear: both;
}

.saved code {
	font-size: 90%;
	border: 1px solid #999;
}

.outlined * {
	border: 1px solid #ddd;
	background: #ddd;
	background: rgba( 0, 0, 0, 0.04 );
}

label, input[type=button] {
	display: inline-block;
	cursor: pointer;
	margin-right: 1em;
}
