body {
	background: #fff;
	margin: 8px;
}

.box {
	float: left;
	width: 49%;
	margin: 0 2px 0 0;
	padding: 2px;
	min-height: 500px;
	border: 1px solid #999;
	font-family: monospace;
	box-sizing: border-box;
}

.showDom .box {
	width: 32%;
}

.dom {
	display: none;
	font-family: sans-serif;
	padding: 5px;
}

.showDom .dom {
	display: block;
}

.loading {
	background: url( pending.gif );
}

.saved {
	padding-top: 1em;
	clear: both;
}

.saved code {
	font-size: 90%;
	border: 1px solid #999;
}

label,
input[type='button'] {
	display: inline-block;
	cursor: pointer;
	margin-right: 1em;
}
